.footer { color: var(--cadet-blue-creyola); }

.footer .shape { display: none; }

.footer-top { background-color: var(--space-cadet); }

.footer-text { margin-block: 18px 20px; }

.footer-brand {
  position: relative;
  z-index: 100;
}

.social-link {
  background-color: var(--oxford-blue-3);
  padding: 14px;
  border-radius: var(--radius-circle);
  transition: var(--transition);
}

.social-link:is(:hover, :focus-visible) {
  background-color: var(--international-orange-engineering);
  transform: translateY(-5px);
}

.footer .h3 {
  color: var(--white);
  margin-block-end: 18px;
}

.footer-list .p {
  color: var(--white);
  font-weight: var(--fw-400);
  margin-block-end: 7px;
}

.footer-list li:not(:first-child) { margin-block-start: 16px; }

.footer-link {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-bottom {
  background-color: var(--space-cadet);
}

#root > footer > div.footer-top.section > div > div > a {
  filter: drop-shadow(0 0 5px var(--oxford-blue-3));
}